## 2영업일 기준 날짜 `biz_day` 변수 만들기

In [15]:
import requests as rq
from bs4 import BeautifulSoup

In [16]:
url = 'https://finance.naver.com/sise/sise_deposit.naver'
data = rq.get(url)
data_html = BeautifulSoup(data.content)

In [17]:
parse_day = data_html.select_one(
    'div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah').text
# print(parse_day)


# 날짜. 즉, 숫자 데이터만 클랜징
import re

biz_day = re.findall('[0-9]+', parse_day)
biz_day = ''.join(biz_day)
print(biz_day)

20240927

## 한국주식 전종목 티커 크롤링
- 코스피, 코스닥, 개별종목 크롤링
- 데이터들을 사이트에서 직접 csv로 저장할 수 있지만, 비효율적.
- `크롤링`을 통해 파이썬에서 바로 데이터 수집

### 코스피 STK

In [51]:
import time
import requests as rq
from io import BytesIO
import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_stk = {
    'mktId': 'STK', #코스피시장
    'trdDd': biz_day,
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
}
headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader',
           'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Safari/605.1.15'}
            # headers에 User-Agent를 추가해주어야 정상 작동함!
otp_stk = rq.post(gen_otp_url, gen_otp_stk, headers=headers).text
print(f"otp_stk : {otp_stk}")

time.sleep(0.5)

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
down_sector_stk = rq.post(down_url, {'code': otp_stk}, headers=headers)
sector_stk = pd.read_csv(BytesIO(down_sector_stk.content), encoding='EUC-KR')

sector_stk.head(10)

otp_stk : Jl0hKVl6yX93mqImypL++4TP0OlIfI6BFLjsnyJgCV4RtSksuLS7Bnxpl86F7dAOkunw9BBwugQaSjGAcH15eT/9BNkpOp4u64zdTFKp/FUtBgM+EFJCxYg3zco1gIgRZqIo4cIzoURnTI8+MmkJ4m8vFLhSKmM794gFu+ThsO31lY4woqehX8j6OlXFDcfHdV4NbYo4+D2Rwcfj24VnU3Zpq3ik/Dyw3FdyOXhJkBI=

     종목코드       종목명   시장구분   업종명      종가    대비   등락률           시가총액
0  095570    AJ네트웍스  KOSPI  서비스업    4785    40  0.84   216534451815
1  006840     AK홀딩스  KOSPI  기타금융   13040    50  0.38   172748195440
2  027410       BGF  KOSPI  기타금융    3555     5  0.14   340273192005
3  282330    BGF리테일  KOSPI   유통업  116700 -3500 -2.91  2017031830200
4  138930   BNK금융지주  KOSPI  기타금융    9190  -100 -1.08  2944813521130
5  001460       BYC  KOSPI  섬유의복   32800  -400 -1.20   204873720000
6  001465      BYC우  KOSPI  섬유의복   12960   -80 -0.61    27913896000
7  001040        CJ  KOSPI  기타금융  120900  2900  2.46  3527499058200
8  079160    CJ CGV  KOSPI  서비스업    6340   250  4.11  1049776020760
9  00104K  CJ4우(전환)  KOSPI  기타금융   89700  1900  2.16   379118126400

### 코스닥 KSQ

In [52]:
# import time
# import requests as rq
# from io import BytesIO
# import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_ksq = {
    'mktId': 'KSQ', #코스닥시장
    'trdDd': biz_day,
    'money': '1',
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
}
headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader',
           'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Safari/605.1.15'}
            # headers에 User-Agent를 추가해주어야 정상 작동함!
otp_ksq = rq.post(gen_otp_url, gen_otp_ksq, headers=headers).text
print(f"otp_ksq : {otp_ksq}")

time.sleep(0.5)

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
down_sector_ksq = rq.post(down_url, {'code': otp_ksq}, headers=headers)
sector_ksq = pd.read_csv(BytesIO(down_sector_ksq.content), encoding='EUC-KR')

sector_ksq.head(10)

otp_ksq : Jl0hKVl6yX93mqImypL++35M2PAixeWeLisETYUleR8RtSksuLS7Bnxpl86F7dAOkunw9BBwugQaSjGAcH15eT/9BNkpOp4u64zdTFKp/FX+lNE/mS3HSeH9JSPc/lHYZqIo4cIzoURnTI8+MmkJ4m8vFLhSKmM794gFu+ThsO31lY4woqehX8j6OlXFDcfHdV4NbYo4+D2Rwcfj24VnU3Zpq3ik/Dyw3FdyOXhJkBI=

     종목코드         종목명    시장구분      업종명     종가    대비   등락률           시가총액
0  060310          3S  KOSDAQ  의료·정밀기기   2155   -35 -1.60   110087403510
1  054620         APS  KOSDAQ       금융   5650     0  0.00   112402348650
2  265520       AP시스템  KOSDAQ    기계·장비  19770  -780 -3.80   302113693170
3  211270        AP위성  KOSDAQ  운송장비·부품  11170    70  0.63   168469335680
4  109960      AP헬스케어  KOSDAQ       유통    535     4  0.75    61071945415
5  139050        BF랩스  KOSDAQ    기타서비스   2805     0  0.00    24247965555
6  126600  BGF에코머티리얼즈  KOSDAQ       화학   3650    10  0.27   229099181350
7  013720         CBI  KOSDAQ  운송장비·부품   1166     0  0.00    52036406576
8  083790      CG인바이츠  KOSDAQ    기타서비스   2305   -30 -1.28   177241089510
9  035760      CJ ENM  KOSDAQ    기타서비스  72800  1200  1.68  1596442411200

### 코스피 + 코스닥 합치기

In [53]:
krx_sector = pd.concat([sector_stk, sector_ksq]).reset_index(drop=True)
krx_sector['종목명'] = krx_sector['종목명'].str.strip() # 종목명공백제거
krx_sector['기준일'] = biz_day

krx_sector.head()

     종목코드      종목명   시장구분   업종명      종가    대비   등락률           시가총액       기준일
0  095570   AJ네트웍스  KOSPI  서비스업    4785    40  0.84   216534451815  20240927
1  006840    AK홀딩스  KOSPI  기타금융   13040    50  0.38   172748195440  20240927
2  027410      BGF  KOSPI  기타금융    3555     5  0.14   340273192005  20240927
3  282330   BGF리테일  KOSPI   유통업  116700 -3500 -2.91  2017031830200  20240927
4  138930  BNK금융지주  KOSPI  기타금융    9190  -100 -1.08  2944813521130  20240927

### 개별종목

In [56]:
# import time
# import requests as rq
# from io import BytesIO
# import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_data = {
    'searchType': '1',
    'mktId': 'ALL',
    'trdDd': biz_day,
    'csvxls_isNo': 'false',
    'name': 'fileDown',
    'url': 'dbms/MDC/STAT/standard/MDCSTAT03501'
}
headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader',
           'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Safari/605.1.15'}
            # headers에 User-Agent를 추가해주어야 정상 작동함!
otp = rq.post(gen_otp_url, gen_otp_data, headers=headers).text
print(f"otp : {otp}")

time.sleep(0.5)

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
krx_ind = rq.post(down_url, {'code': otp}, headers=headers)

krx_ind = pd.read_csv(BytesIO(krx_ind.content), encoding='EUC-KR')
krx_ind['종목명'] = krx_ind['종목명'].str.strip() # 종목명 공백제거
krx_ind['기준일'] = biz_day

krx_ind.head()

otp : Jl0hKVl6yX93mqImypL++8XWBg1NCeAx0q/XdpXd5H0RtSksuLS7Bnxpl86F7dAOkunw9BBwugQaSjGAcH15eT/9BNkpOp4u64zdTFKp/FXnJ+IbPeMRojsquSmsoIVPRtgFVFSIuXsjM96ssZ1bC1P1Uyv/Qg2DEQ1Yf+R9Q8plIPOX6mrHJAb0YfyHtzSpCC1dJ1euFR8vZ/piGdLY6Pp8m2aqe/7MwGYgFoXvhDI=

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률,기준일
0,060310,3S,2155,-35,-1.60,54.0,39.91,NaN,NaN,998.0,2.16,0,0.00,20240927
1,095570,AJ네트웍스,4785,40,0.84,367.0,13.04,781.0,6.13,9326.0,0.51,270,5.64,20240927
2,006840,AK홀딩스,13040,50,0.38,2635.0,4.95,NaN,NaN,44339.0,0.29,200,1.53,20240927
3,054620,APS,5650,0,0.00,667.0,8.47,NaN,NaN,11683.0,0.48,0,0.00,20240927
4,265520,AP시스템,19770,-780,-3.80,3997.0,4.95,NaN,NaN,21396.0,0.92,270,1.37,20240927

### KRX과 개별종목 합치기

In [65]:
diff = list(set(krx_sector['종목명']).symmetric_difference(set(krx_ind['종목명'])))
print(diff)
# 이 친구들은 KRX 데이터셋에만 있거나, 개별종목 데이터셋에만 있거나. -> 비주류 종목들

['케이탑리츠', '한스바이오메드 (락)', '방림', '크리스탈신소재', '롯데리츠', '애머릿지', '마스턴프리미어리츠', '한스바이오메드', '맥스트', '코오롱티슈진', 'SBI핀테크솔루션즈', '이지스밸류리츠', '스타에스엠리츠', '코람코더원리츠', '제이알글로벌리츠', '미래에셋맵스리츠', '금비', 'JTC', '인터엠', '로스웰', '에이리츠', '맥쿼리인프라', '엑세스바이오', '방림 (락)', '씨엑스아이', '한국ANKOR유전', '디앤디플랫폼리츠', '금비 (락)', '잉글우드랩', '한화리츠', 'KB스타리츠', '프레스티지바이오파마', '신한알파리츠', '신한서부티엔디리츠', '삼성FN리츠', '인터엠 (락)', '아시아종묘 (락)', '아시아종묘', '코람코라이프인프라리츠', 'ESR켄달스퀘어리츠', '이리츠코크렙', '소마젠', '이스트아시아홀딩스', '미래에셋글로벌리츠', '엘브이엠씨홀딩스', '네오이뮨텍', 'GRT', '컬러레이', '신한글로벌액티브리츠', '글로벌에스엠', '고스트스튜디오', 'NH올원리츠', 'SK리츠', '맵스리얼티1', '헝셩그룹', '맥스트 [락]', '골든센츄리', '한국패러랠', 'NH프라임리츠', '윙입푸드', '이지스레지던스리츠', '오가닉티코스메틱']

In [66]:
kor_ticker = pd.merge(krx_sector,
                      krx_ind,
                      on=krx_sector.columns.intersection(
                          krx_ind.columns).tolist(),
                      how='outer')
kor_ticker.head()

,종목코드,종목명,시장구분,업종명,종가,대비,등락률,시가총액,기준일,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,000020,동화약품,KOSPI,의약품,7810,-40,-0.51,2.181448e+11,20240927,991.0,7.88,NaN,NaN,13413.0,0.58,180.0,2.30
1,000040,KR모터스,KOSPI,운수장비,571,3,0.53,3.433587e+10,20240927,NaN,NaN,NaN,NaN,618.0,0.92,0.0,0.00
2,000050,경방,KOSPI,유통업,6290,30,0.48,1.724420e+11,20240927,NaN,NaN,NaN,NaN,29623.0,0.21,125.0,1.99
3,000070,삼양홀딩스,KOSPI,기타금융,80500,1400,1.77,6.894238e+11,20240927,22269.0,3.61,NaN,NaN,257475.0,0.31,3500.0,4.35
4,000075,삼양홀딩스우,KOSPI,기타금융,57000,-200,-0.35,1.733131e+10,20240927,NaN,NaN,NaN,NaN,NaN,NaN,3550.0,6.23

### 종목 카테고리화
- 스팩, 우선주, 리츠, 기타, 그리고 보통주

In [69]:
# '스펙'이라는 단어나 '##호' 등이 포함된 종목들
print(kor_ticker[kor_ticker['종목명'].str.contains('스팩|제[0-9]+호')]['종목명'].values)

['하나금융21호스팩' '미래에셋비전스팩1호' '키움제6호스팩' '상상인제3호스팩' '하나금융22호스팩' '신한제10호스팩'
 '교보12호스팩' '엔에이치스팩23호' '케이비제21호스팩' '삼성스팩6호' '신영스팩8호' '한화플러스제3호스팩'
 '유안타제9호스팩' '키움제7호스팩' '유안타제10호스팩' '하나금융25호스팩' '에스케이증권제8호스팩' '엔에이치스팩24호'
 '대신밸런스제13호스팩' '엔에이치스팩25호' '삼성스팩7호' '엔에이치스팩26호' 'IBKS제20호스팩' '교보13호스팩'
 '엔에이치스팩27호' '유진스팩9호' '대신밸런스제14호스팩' 'IBKS제21호스팩' '미래에셋드림스팩1호' '유안타제11호스팩'
 '비엔케이제1호스팩' '신영스팩9호' '유안타제12호스팩' '미래에셋비전스팩2호' '하나26호스팩' '키움제8호스팩'
 '하나27호스팩' '삼성스팩8호' 'IBKS제22호스팩' '미래에셋비전스팩3호' '유안타제13호스팩' '하이제8호스팩'
 '유안타제14호스팩' '엔에이치스팩29호' '상상인제4호스팩' '신한제11호스팩' '하나29호스팩' '하나28호스팩'
 'KB제25호스팩' '한화플러스제4호스팩' '에스케이증권제9호스팩' 'DB금융스팩11호' '교보14호스팩' '대신밸런스제15호스팩'
 '대신밸런스제16호스팩' '에스케이증권제10호스팩' 'KB제26호스팩' '한국제12호스팩' '에이치엠씨제6호스팩'
 '한국제13호스팩' 'KB제27호스팩' '교보15호스팩' '엔에이치스팩30호' 'IBKS제23호스팩' '삼성스팩9호'
 '유진스팩10호' 'IBKS제24호스팩' '하나30호스팩' '하나31호스팩' '대신밸런스제17호스팩' '신영스팩10호'
 '에스케이증권제11호스팩' '에스케이증권제12호스팩' '유안타제15호스팩' '비엔케이제2호스팩' '에스케이증권제13호스팩'
 '유안타제16호스팩' '신한제12호스팩' '신한제13호스팩' '하나32호스팩' '하나33호스팩' 'KB제28호스팩'
 '에이치엠씨제7호스팩' '미래에셋비전스팩4호' '미래에셋비전스팩5호' '한국제14호스팩' 'DB금융스팩12호' '이베스트스팩6호'
 'KB제29호스팩' '미래에셋비전스팩6호' '대신밸런스제18호스팩' '한국제15호스팩' '엔에이치스팩31호' '교보16호스팩'
 '미래에셋비전스팩7호' 'KB제30호스팩']

In [70]:
# 우선주 : 티커 마지막이 0으로 끝나지 않는 것들
print(kor_ticker[kor_ticker['종목코드'].str[-1:] != '0']['종목명'].values)

['삼양홀딩스우' '하이트진로2우B' '유한양행우' '하이트진로홀딩스우' '두산우' '두산2우B' 'DL우' '유유제약1우'
 '유유제약2우B' '노루홀딩스우' '흥국화재우' '현대건설우' '삼성화재우' '한화우' '한화3우B' 'CJ우' 'CJ4우(전환)'
 'JW중외제약우' 'JW중외제약2우B' '부국증권우' 'BYC우' 'SK증권우' '동양우' '동양2우B' '대상우' '한양증권우'
 '대한제당우' '코오롱우' '넥센타이어1우B' '진흥기업우B' '진흥기업2우B' '아모레G우' '아모레G3우(전환)' '금호건설우'
 '코오롱글로벌우' '유화증권우' '유안타증권우' '대한항공우' '한화투자증권우' '대신증권우' '대신증권2우B' 'LG우'
 '남양유업우' '태양금속우' 'NPC우' '세방우' '서울식품우' '깨끗한나라우' '덕성우' '성신양회우' '롯데지주우'
 '녹십자홀딩스2우' '롯데칠성우' '현대차우' '현대차2우B' '현대차3우B' '넥센우' '크라운해태홀딩스우' '삼성전자우'
 'NH투자증권우' '동부건설우' 'SK디스커버리우' '대원전선우' '삼성SDI우' '미래에셋증권우' '미래에셋증권2우B'
 '일양약품우' '코리아써우' '코리아써키트2우B' '대덕1우' '남선알미우' '호텔신라우' '삼성전기우' '태영건설우'
 '한화솔루션우' 'S-Oil우' 'CJ씨푸드1우' '금호석유우' '계양전기우' '금강공업우' '동원시스템즈우' '성문전자우'
 '신풍제약우' '대교우B' '대호특수강우' '삼성물산우B' '소프트센우' 'SK우' '해성산업1우' 'LG생활건강우' 'LG화학우'
 'LG전자우' '한국금융지주우' 'GS우' '대상홀딩스우' '노루페인트우' '아모레퍼시픽우' 'SK이노베이션우' 'CJ제일제당 우'
 'LX하우시스우' '코오롱인더우' '삼양사우' '한진칼우' '크라운제과우' 'SK케미칼우' '두산퓨얼셀1우' '두산퓨얼셀2우B'
 '솔루스첨단소재1우' '솔루스첨단소재2우B' '대덕전자1우' '티와이홀딩스우' 'DL이앤씨우' 'DL이앤씨2우(전환)'
 'LX홀딩스1우' '코오롱모빌리티그룹우' '한화갤러리아우']

In [71]:
# 리츠 : '리츠'로 끝나는 종목명
print(kor_ticker[kor_ticker['종목명'].str.endswith('리츠')]['종목명'].values)

['에이리츠' '케이탑리츠' '스타에스엠리츠' '신한알파리츠' '롯데리츠' '이지스밸류리츠' 'NH프라임리츠' '제이알글로벌리츠'
 '이지스레지던스리츠' '코람코라이프인프라리츠' '미래에셋맵스리츠' '마스턴프리미어리츠' 'ESR켄달스퀘어리츠' '디앤디플랫폼리츠'
 'SK리츠' '미래에셋글로벌리츠' 'NH올원리츠' '신한서부티엔디리츠' '코람코더원리츠' 'KB스타리츠' '삼성FN리츠'
 '한화리츠' '신한글로벌액티브리츠']

In [72]:
import numpy as np

kor_ticker['종목구분'] = np.where(kor_ticker['종목명'].str.contains('스팩|제[0-9]+호'), '스팩',
                              np.where(kor_ticker['종목코드'].str[-1:] != '0', '우선주',
                                       np.where(kor_ticker['종목명'].str.endswith('리츠'), '리츠',
                                                np.where(kor_ticker['종목명'].isin(diff),  '기타',
                                                '보통주'))))
kor_ticker = kor_ticker.reset_index(drop=True)
kor_ticker.columns = kor_ticker.columns.str.replace(' ', '')
kor_ticker = kor_ticker[['종목코드', '종목명', '시장구분', '종가',
                         '시가총액', '기준일', 'EPS', '선행EPS', 'BPS', '주당배당금', '종목구분']]
kor_ticker = kor_ticker.replace({np.nan: None})
kor_ticker['기준일'] = pd.to_datetime(kor_ticker['기준일'])

kor_ticker.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,7810,218144780700.0,2024-09-27,991.0,None,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,571,34335867628.0,2024-09-27,None,None,618.0,0.0,보통주
2,000050,경방,KOSPI,6290,172442048300.0,2024-09-27,None,None,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,80500,689423815500.0,2024-09-27,22269.0,None,257475.0,3500.0,보통주
4,000075,삼양홀딩스우,KOSPI,57000,17331306000.0,2024-09-27,None,None,None,3550.0,우선주

- `replace()` -> 칼럼명 공백을 삭제
- 필요한 열만 선택
- SQL 사용을 위해 NaN -> None
- 기준일 `to_datetime()` -> yyyy-mm-dd 형태로 변경

### SQL database에 저장

- name: ticker_table

- 파이썬에서 아래 코드를 실행하면 다운로드 받은 정보가 kor_ticker 테이블에 upsert 형태로 저장된다.

In [73]:
import pymysql

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()

# upsert 방식으로 입력해주기
query = f"""
    insert into kor_ticker (종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분)
    values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    종목명=new.종목명,시장구분=new.시장구분,종가=new.종가,시가총액=new.시가총액,EPS=new.EPS,선행EPS=new.선행EPS,
    BPS=new.BPS,주당배당금=new.주당배당금,종목구분 = new.종목구분;
"""

args = kor_ticker.values.tolist()
mycursor.executemany(query, args)
con.commit()

con.close()

## 섹터 정보 크롤링 (WICS 기준)

In [74]:
import json
import requests as rq
import pandas as pd

url = f'''http://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd=G10'''
data = rq.get(url).json()

type(data)

dict

In [75]:
print(data.keys())

dict_keys(['info', 'list', 'sector', 'size'])

In [79]:
data['list'][0]

{'IDX_CD': 'G10',
 'IDX_NM_KOR': 'WICS 에너지',
 'ALL_MKT_VAL': 21664159,
 'CMP_CD': '096770',
 'CMP_KOR': 'SK이노베이션',
 'MKT_VAL': 6363736,
 'WGT': 29.37,
 'S_WGT': 29.37,
 'CAL_WGT': 1.0,
 'SEC_CD': 'G10',
 'SEC_NM_KOR': '에너지',
 'SEQ': 1,
 'TOP60': 4,
 'APT_SHR_CNT': 53611930}

In [77]:
data['sector']

[{'SEC_CD': 'G25', 'SEC_NM_KOR': '경기관련소비재', 'SEC_RATE': 10.11, 'IDX_RATE': 0},
 {'SEC_CD': 'G35', 'SEC_NM_KOR': '건강관리', 'SEC_RATE': 11.1, 'IDX_RATE': 0},
 {'SEC_CD': 'G50', 'SEC_NM_KOR': '커뮤니케이션서비스', 'SEC_RATE': 5.62, 'IDX_RATE': 0},
 {'SEC_CD': 'G40', 'SEC_NM_KOR': '금융', 'SEC_RATE': 9.83, 'IDX_RATE': 0},
 {'SEC_CD': 'G10', 'SEC_NM_KOR': '에너지', 'SEC_RATE': 1.64, 'IDX_RATE': 100.0},
 {'SEC_CD': 'G20', 'SEC_NM_KOR': '산업재', 'SEC_RATE': 14.07, 'IDX_RATE': 0},
 {'SEC_CD': 'G55', 'SEC_NM_KOR': '유틸리티', 'SEC_RATE': 1.1, 'IDX_RATE': 0},
 {'SEC_CD': 'G30', 'SEC_NM_KOR': '필수소비재', 'SEC_RATE': 2.2, 'IDX_RATE': 0},
 {'SEC_CD': 'G15', 'SEC_NM_KOR': '소재', 'SEC_RATE': 7.58, 'IDX_RATE': 0},
 {'SEC_CD': 'G45', 'SEC_NM_KOR': 'IT', 'SEC_RATE': 36.75, 'IDX_RATE': 0}]

In [80]:
data_pd = pd.json_normalize(data['list'])

data_pd.head()

,IDX_CD,IDX_NM_KOR,ALL_MKT_VAL,CMP_CD,CMP_KOR,MKT_VAL,WGT,S_WGT,CAL_WGT,SEC_CD,SEC_NM_KOR,SEQ,TOP60,APT_SHR_CNT
0,G10,WICS 에너지,21664159,096770,SK이노베이션,6363736,29.37,29.37,1.0,G10,에너지,1,4,53611930
1,G10,WICS 에너지,21664159,267250,HD현대,3410605,15.74,45.12,1.0,G10,에너지,2,4,44236128
2,G10,WICS 에너지,21664159,009830,한화솔루션,2826429,13.05,58.16,1.0,G10,에너지,3,4,108292298
3,G10,WICS 에너지,21664159,010950,S-Oil,2545159,11.75,69.91,1.0,G10,에너지,4,4,41655633
4,G10,WICS 에너지,21664159,078930,GS,2110155,9.74,79.65,1.0,G10,에너지,5,4,49245150

In [81]:
import time
import json
import requests as rq
import pandas as pd
from tqdm import tqdm

sector_code = [
    'G25', 'G35', 'G50', 'G40', 'G10', 'G20', 'G55', 'G30', 'G15', 'G45'
]

data_sector = []

for i in tqdm(sector_code):
    url = f'''http://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd={i}'''    
    data = rq.get(url).json()
    data_pd = pd.json_normalize(data['list'])

    data_sector.append(data_pd)

    time.sleep(2)

100%|██████████| 10/10 [00:23<00:00,  2.35s/it]

In [82]:
kor_sector = pd.concat(data_sector, axis = 0)
kor_sector = kor_sector[['IDX_CD', 'CMP_CD', 'CMP_KOR', 'SEC_NM_KOR']]
kor_sector['기준일'] = biz_day
kor_sector['기준일'] = pd.to_datetime(kor_sector['기준일'])

### SQL database에 저장

In [83]:
import pymysql

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()
query = f"""
    insert into kor_sector (IDX_CD, CMP_CD, CMP_KOR, SEC_NM_KOR, 기준일)
    values (%s,%s,%s,%s,%s) as new
    on duplicate key update
    IDX_CD = new.IDX_CD, CMP_KOR = new.CMP_KOR, SEC_NM_KOR = new.SEC_NM_KOR
"""

args = kor_sector.values.tolist()

mycursor.executemany(query, args)
con.commit()

con.close()

## 수정주가 크롤링

### 개별종목 주가 크롤링

네이버 금융
```
https://finance.naver.com/item/fchart.nhn?code=005930
```
```
https://api.finance.naver.com/siseJson.naver?symbol=005930&requestType=1&startTime=20200214&endTime=20220422&timeframe=day
```

In [84]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

ticker_list.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분
0,000020,동화약품,KOSPI,7810.0,2.181450e+11,2024-09-27,991.0,NaN,13413.0,180.0,보통주
1,000040,KR모터스,KOSPI,571.0,3.433590e+10,2024-09-27,NaN,NaN,618.0,0.0,보통주
2,000050,경방,KOSPI,6290.0,1.724420e+11,2024-09-27,NaN,NaN,29623.0,125.0,보통주
3,000070,삼양홀딩스,KOSPI,80500.0,6.894240e+11,2024-09-27,22269.0,NaN,257475.0,3500.0,보통주
4,000080,하이트진로,KOSPI,20650.0,1.448260e+12,2024-09-27,512.0,1612.0,15694.0,950.0,보통주

In [86]:
from dateutil.relativedelta import relativedelta #날짜 만드는 데에 필요
import requests as rq
from io import BytesIO
from datetime import date

i = 0
ticker = ticker_list['종목코드'][i]
fr = (date.today() + relativedelta(years=-5)).strftime("%Y%m%d") #조회 시작일
to = (date.today()).strftime("%Y%m%d") #조회 종료일

url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
&startTime={fr}&endTime={to}&timeframe=day'''

data = rq.get(url).content
data_price = pd.read_csv(BytesIO(data))

data_price.head()

,[['날짜','시가','고가','저가','종가','거래량','외국인소진율'],Unnamed: 7
0,"[""20191002""",8120.0,8120.0,7680.0,7680.0,291165.0,4.9],NaN
1,"[""20191004""",7690.0,7830.0,7670.0,7800.0,37463.0,4.9],NaN
2,"[""20191007""",7800.0,7850.0,7760.0,7790.0,15138.0,4.9],NaN
3,"[""20191008""",7790.0,7840.0,7770.0,7830.0,19135.0,4.91],NaN
4,"[""20191010""",7880.0,7880.0,7650.0,7840.0,31612.0,4.96],NaN

In [87]:
import re

price = data_price.iloc[:, 0:6]
price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
price = price.dropna()
price['날짜'] = price['날짜'].str.extract('(\d+)')
price['날짜'] = pd.to_datetime(price['날짜'])
price['종목코드'] = ticker

price.head()

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
/var/folders/pr/m3xbr9vs3xs6h2gphc6hflsm0000gn/T/ipykernel_46561/2221865946.py:6: SyntaxWarning: invalid escape sequence '\d'
  price['날짜'] = price['날짜'].str.extract('(\d+)')

          날짜      시가      고가      저가      종가       거래량    종목코드
0 2019-10-02  8120.0  8120.0  7680.0  7680.0  291165.0  000020
1 2019-10-04  7690.0  7830.0  7670.0  7800.0   37463.0  000020
2 2019-10-07  7800.0  7850.0  7760.0  7790.0   15138.0  000020
3 2019-10-08  7790.0  7840.0  7770.0  7830.0   19135.0  000020
4 2019-10-10  7880.0  7880.0  7650.0  7840.0   31612.0  000020

### 전 종목 주가 크롤링
- 위 과정을 응용해 모든 종목의 주가를 크롤링한 후 DB에 저장
- SQL에 kor_price 테이블 생성

for문을 통해 전종목 주가가 DB에 저장

In [88]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
import requests as rq
import time
from tqdm import tqdm
from io import BytesIO

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into kor_price (날짜, 시가, 고가, 저가, 종가, 거래량, 종목코드)
    values (%s,%s,%s,%s,%s,%s,%s) as new
    on duplicate key update
    시가 = new.시가, 고가 = new.고가, 저가 = new.저가,
    종가 = new.종가, 거래량 = new.거래량;
"""

# 오류 발생시 저장할 리스트 생성
error_list = []

In [90]:
# 전종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):

    # 티커 선택
    ticker = ticker_list['종목코드'][i]

    # 시작일과 종료일-----------------------------------------------------
    fr = (date.today() + relativedelta(years=-5)).strftime("%Y%m%d")
    to = (date.today()).strftime("%Y%m%d")

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        # url 생성
        url = f'''https://fchart.stock.naver.com/siseJson.nhn?symbol={ticker}&requestType=1
        &startTime={fr}&endTime={to}&timeframe=day'''

        # 데이터 다운로드
        data = rq.get(url).content
        data_price = pd.read_csv(BytesIO(data))

        # 데이터 클렌징
        price = data_price.iloc[:, 0:6]
        price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
        price = price.dropna()
        price['날짜'] = price['날짜'].str.extract('(\d+)')
        price['날짜'] = pd.to_datetime(price['날짜'])
        price['종목코드'] = ticker

        # 주가 데이터를 DB에 저장
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

<>:26: SyntaxWarning: invalid escape sequence '\d'
<>:26: SyntaxWarning: invalid escape sequence '\d'
/var/folders/pr/m3xbr9vs3xs6h2gphc6hflsm0000gn/T/ipykernel_46561/4065607731.py:26: SyntaxWarning: invalid escape sequence '\d'
  price['날짜'] = price['날짜'].str.extract('(\d+)')
100%|██████████| 2445/2445 [1:28:52<00:00,  2.18s/it]

1. DB에 연결한다.
2. 기준일이 최대, 즉 최근일 기준 보통주에 해당하는 티커 리스트(ticker_list)만 불러온다.
3. DB에 저장할 쿼리(query)를 입력한다.
4. 오류 발생시 저장할 리스트(error_list)를 만든다.
5. for문을 통해 전종목 주가를 다운로드 받으며, 진행상황을 알기위해 `tqdm()` 함수를 이용한다.
6. URL 생성, 데이터 다운로드 및 데이터 클렌징 및 DB에 저장은 위와 동일하며, try except문을 통해 오류가 발생시 티커를 출력 후 error_list에 저장한다.
7. 무한 크롤링을 방지하기 위해 한 번의 루프가 끝날 때마다 타임슬립을 적용한다.
8. 모든 작업이 끝나면 DB와의 연결을 종료한다.

작업이 끝난 후 SQL의 kor_price 테이블을 확인해보면 전 종목 주가가 저장되어 있다. 시간이 지나 위 코드를 다시 실행하면 upsert 형식을 통해 수정된 주가는 update를, 새로 입력된 주가는 insert를 한다.

```{figure} image/data_korea/sql_price.png
---
name: sql_price
---
주가 테이블
```

## 재무제표 크롤링

주가와 더불어 재무제표와 가치지표 역시 투자에 있어 핵심이 되는 데이터다. 해당 데이터는 여러 웹사이트에서 구할 수 있으며, 국내 데이터 제공업체인 FnGuide에서 운영하는 Company Guide 웹사이트에서 손쉽게 구할 수 있다.

```
http://comp.fnguide.com/
```

### 재무제표 다운로드

먼저 웹사이트에서 개별종목의 재무제표를 탭을 선택하면 포괄손익계산서, 재무상태표, 현금흐름표 항목이 있으며, 티커에 해당하는 A005930 뒤의 주소는 불필요한 내용이므로, 이를 제거한 주소로 접속한다. A 뒤의 6자리 티커만 변경한다면 해당 종목의 재무제표 페이지로 이동하게 된다.

```
http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A005930
```

```{figure} image/data_korea/comp_guide.png
---
name: comp_guide
---
Company Guide 화면
```

우리가 원하는 재무제표 항목들은 모두 테이블 형태로 제공되고 있으므로 pandas 패키지의 `read_html()` 함수를 이용해 쉽게 추출할 수 있다. 먼저 삼성전자 종목의 페이지 내용을 불러오자.

In [23]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

i = 0
ticker = ticker_list['종목코드'][i]

url = f'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'
data = pd.read_html(url, displayed_only=False)

[item.head(3) for item in data]

[  IFRS(연결)  2019/12  2020/12  2021/12  2022/03   전년동기 전년동기(%)
 0      매출액   3072.0   2721.0   2930.0    853.0  718.0    18.7
 1     매출원가   1856.0   1334.0   1437.0    406.0  360.0    12.9
 2    매출총이익   1216.0   1387.0   1493.0    447.0  358.0    24.6,
   IFRS(연결)  2021/06  2021/09  2021/12  2022/03   전년동기 전년동기(%)
 0      매출액    758.0    691.0    763.0    853.0  718.0    18.7
 1     매출원가    374.0    348.0    355.0    406.0  360.0    12.9
 2    매출총이익    384.0    343.0    408.0    447.0  358.0    24.6,
              IFRS(연결)  2019/12  2020/12  2021/12  2022/03
 0                  자산   3764.0   4338.0   4478.0   4600.0
 1  유동자산계산에 참여한 계정 펼치기   2355.0   2227.0   2202.0   2287.0
 2                재고자산    334.0    395.0    362.0    357.0,
              IFRS(연결)  2021/06  2021/09  2021/12  2022/03
 0                  자산   4471.0   4479.0   4478.0   4600.0
 1  유동자산계산에 참여한 계정 펼치기   2274.0   2180.0   2202.0   2287.0
 2                재고자산    431.0    420.0    362.0    357.0,
          IFRS(연결)  2019/12  2020/12  2021/12  2022/03
 0    영업활동으로인한현금흐름    133.0    522.0    360.0    166.0
 1           당기순손익     91.0    287.0    196.0     58.0
 2  법인세비용차감전계속사업이익      NaN      NaN      NaN      NaN,
          IFRS(연결)  2021/06  2021/09  2021/12  2022/03
 0    영업활동으로인한현금흐름     63.0     48.0    161.0    166.0
 1           당기순손익     70.0      8.0     62.0     58.0
 2  법인세비용차감전계속사업이익      NaN      NaN      NaN      NaN]

1. 티커 리스트를 불러와 첫번째 티커를 선택한다.
2. 재무제표 페이지에 해당하는 URL을 생성한다.
3. `read_html()` 함수를 통해 테이블 데이터만을 가져온다. 페이지를 살펴보면 [+] 버튼을 눌러야만 표시가 되는 항목도 있으므로, `displayed_only = False`를 통해 해당 항목들도 모두 가져온다.

위의 과정을 거치면 총 6개의 테이블이 들어오게 되며, 그 내용은 {numref}`fs_table`와 같다.

```{table} 재무제표 테이블 내역
:name: fs_table

| 순서 | 내용 | 
| --- | --- |
| 0 | 포괄손익계산서 (연간) |
| 1 | 포괄손익계산서 (분기) |
| 2 | 재무상태표 (연간) |
| 3 | 재무상태표 (분기) |
| 4 | 현금흐름표 (연간) |
| 5 | 현금흐름표 (분기) |
```

먼저 연간 기준 포괄손익계산서, 재무상태표, 현금흐름표의 열 이름을 살펴보자.

In [24]:
print(data[0].columns.tolist(), '\n',
      data[2].columns.tolist(), '\n',
      data[4].columns.tolist()
     )

['IFRS(연결)', '2019/12', '2020/12', '2021/12', '2022/03', '전년동기', '전년동기(%)']
 ['IFRS(연결)', '2019/12', '2020/12', '2021/12', '2022/03']
 ['IFRS(연결)', '2019/12', '2020/12', '2021/12', '2022/03']

포괄손익계산서 테이블에는 '전년동기', '전년동기(%)' 열이 있으며, 이는 필요하지 않은 내용이므로 삭제해주어야 한다.

In [25]:
data_fs_y = pd.concat(
    [data[0].iloc[:, ~data[0].columns.str.contains('전년동기')], data[2], data[4]])
data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: "계정"})

data_fs_y.head()

                      계정  2019/12  2020/12  2021/12  2022/03
0                    매출액   3072.0   2721.0   2930.0    853.0
1                   매출원가   1856.0   1334.0   1437.0    406.0
2                  매출총이익   1216.0   1387.0   1493.0    447.0
3  판매비와관리비계산에 참여한 계정 펼치기   1120.0   1155.0   1269.0    356.0
4                    인건비    400.0    415.0    468.0    134.0

1. 포괄손익계산서 중 '전년동기'라는 글자가 들어간 열을 제외한 데이터를 선택한다.
2. `concat()` 함수를 이용해 포괄손익계산서, 재무상태표, 현금흐름표 세개 테이블을 하나로 묶는다.
3. `rename()` 메서드를 통해 첫번째 열 이름(IFRS 혹은 IFRS(연결)을 '계정'으로 변경한다.

결산마감 이전에 해당 페이지를 크롤링 할 경우 연간 재무제표 데이터에 분기 재무제표 데이터가 들어오기도 하므로, 연간 재무제표에 해당하는 열 만을 선택해야 한다. 각 종목 별 결산월은 해당 페이지의 상단에서 확인할 수 있다.

```{figure} image/data_korea/fiscal_end.png
---
name: fiscal_end
---
종목 별 결산월
```

이제 해당 데이터를 크롤링 해보도록 하겠다.

In [26]:
import requests as rq
from bs4 import BeautifulSoup
import re

page_data = rq.get(url)
page_data_html = BeautifulSoup(page_data.content, 'html.parser')

fiscal_data = page_data_html.select('div.corp_group1 > h2')
fiscal_data_text = fiscal_data[1].text
fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)

print(fiscal_data_text)

['12']

1. `get()` 함수를 통해 페이지의 데이터를 불러온 후, content 부분을 BeautifulSoup 객체로 만든다.
2. 결산월 항목운 [corp_group1 클래스의 div 태그 하부의 h2 태그]에 존재하므로, `select()` 함수를 이용해 추출한다.
3. fiscal_data 중 첫번째는 종목코드에 해당하고, 두번째가 결산 데이터에 해당하므로 해당 부분을 선택해 텍스트만 추출한다.
4. 'n월 결산' 형태로 텍스트가 구성되어 있으므로, 정규 표현식을 이용해 숫자에 해당하는 부분만 추출한다.

이를 통해 결산월에 해당하는 부분만이 선택된다. 이를 이용해 연간 재무제표에 해당하는 열만 선택해보도록 하자.

In [27]:
data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') |
                          (data_fs_y.columns.str[-2:].isin(fiscal_data_text))]
data_fs_y.head()

                      계정  2019/12  2020/12  2021/12
0                    매출액   3072.0   2721.0   2930.0
1                   매출원가   1856.0   1334.0   1437.0
2                  매출총이익   1216.0   1387.0   1493.0
3  판매비와관리비계산에 참여한 계정 펼치기   1120.0   1155.0   1269.0
4                    인건비    400.0    415.0    468.0

열 이름이 '계정', 그리고 재무제표의 월이 결산월과 같은 부분만 선택한다. 이제 추가적으로 클렌징해야 하는 사항은 다음과 같다.

In [28]:
data_fs_y[data_fs_y.loc[:, ~data_fs_y.columns.isin(['계정'])].isna().all(
    axis=1)].head()

                      계정  2019/12  2020/12  2021/12
10               기타원가성비용      NaN      NaN      NaN
18              대손충당금환입액      NaN      NaN      NaN
19              매출채권처분이익      NaN      NaN      NaN
20  당기손익-공정가치측정 금융자산관련이익      NaN      NaN      NaN
23            금융자산손상차손환입      NaN      NaN      NaN

먼저 재무제표 값 중에서 모든 연도의 데이터가 NaN인 항목이 있다. 이는 재무제표 계정은 있으나 해당 종목들은 데이터가 없는 것들이므로 삭제해도 된다.

In [29]:
data_fs_y['계정'].value_counts(ascending=False).head()

기타          4
배당금수익       3
파생상품이익      3
이자수익        3
법인세납부(-)    3
Name: 계정, dtype: int64

또한 동일한 계정명이 여러번 반복된다. 이러한 계정은 대부분 중요하지 않은 것들이므로, 하나만 남겨두도록 한다. 이 외에도 클렌징이 필요한 내용들을 함수로 구성하면 다음과 같다.

In [30]:
def clean_fs(df, ticker, frequency):

    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]
    df = df.drop_duplicates(['계정'], keep='first')
    df = pd.melt(df, id_vars='계정', var_name='기준일', value_name='값')
    df = df[~pd.isnull(df['값'])]
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기': ''}, regex=True)
    df['기준일'] = pd.to_datetime(df['기준일'],
                               format='%Y-%m') + pd.tseries.offsets.MonthEnd()
    df['종목코드'] = ticker
    df['공시구분'] = frequency

    return df

1. 입력값으로는 데이터프레임, 티커, 공시구분(연간/분기)가 필요하다.
2. 먼저 연도의 데이터가 NaN인 항목은 제외한다.
3. 계정명이 중복되는 경우 `drop_duplicates()` 함수를 이용해 첫번째에 위치하는 데이터만 남긴다.
4. `melt()` 함수를 이용해 열로 긴 데이터를 행으로 긴 데이터로 변경한다.
5. 계정값이 없는 항목은 제외한다.
6. [계산에 참여한 계정 펼치기]라는 글자는 페이지의 [+]에 해당하는 부분이므로 `replace()` 메서드를 통해 제거한다.
7. `to_datetime()` 메서드를 통해 기준일을 'yyyy-mm' 형태로 바꾼 후, `MonthEnd()`를 통해 월말에 해당하는 일을 붙인다.
8. '종목코드' 열에는 티커를 입력한다.
9. '공시구분' 열에는 연간 혹은 분기에 해당하는 값을 입력한다.

연간 재무제표 항목에 위 함수를 적용하면 다음과 같은 결과를 확인할 수 있다.

In [31]:
data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')

data_fs_y_clean.head()

        계정        기준일       값    종목코드 공시구분
0      매출액 2019-12-31  3072.0  000020    y
1     매출원가 2019-12-31  1856.0  000020    y
2    매출총이익 2019-12-31  1216.0  000020    y
3  판매비와관리비 2019-12-31  1120.0  000020    y
4      인건비 2019-12-31   400.0  000020    y

클렌징 처리가 된 데이터가 세로로 긴 형태로 변경되었다. 이제 분기 재무제표도 클렌징 처리를 해보도록 하자.

In [32]:
# 분기 데이터

data_fs_q = pd.concat(
    [data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3], data[5]])
data_fs_q = data_fs_q.rename(columns={data_fs_q.columns[0]: "계정"})
data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')

data_fs_q_clean.head()

        계정        기준일      값    종목코드 공시구분
0      매출액 2021-06-30  758.0  000020    q
1     매출원가 2021-06-30  374.0  000020    q
2    매출총이익 2021-06-30  384.0  000020    q
3  판매비와관리비 2021-06-30  312.0  000020    q
4      인건비 2021-06-30  116.0  000020    q

분기 데이터는 결산월에 해당하는 부분을 선택할 필요가 없으며, 이를 제외하고는 모든 과정이 연간 재무제표를 항목과 동일하다.

In [33]:
data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])

`concat()` 함수를 통해 두 테이블을 하나로 묶어준다.

### 전종목 재무제표 크롤링

위 과정을 응용해 모든 종목의 재무제표를 크롤링한 후 DB에 저장하는 과정을 살펴보도록 하겠다. 먼저 SQL에서 재무제표가 저장될 테이블(kor_fs)을 만들어준다.

In [ ]:
use stock_db;

create table kor_fs
(
    계정 varchar(30),
    기준일 date,
    값 float,
    종목코드 varchar(6),
    공시구분 varchar(1),
    primary key(계정, 기준일, 종목코드, 공시구분)
)

이제 파이썬에서 아래 코드를 실행하면 for문을 통해 전종목 재무제표가 DB에 저장된다.

In [ ]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup
import re
from tqdm import tqdm
import time

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into kor_fs (계정, 기준일, 값, 종목코드, 공시구분)
    values (%s,%s,%s,%s,%s) as new
    on duplicate key update
    값=new.값
"""

# 오류 발생시 저장할 리스트 생성
error_list = []


# 재무제표 클렌징 함수
def clean_fs(df, ticker, frequency):

    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]
    df = df.drop_duplicates(['계정'], keep='first')
    df = pd.melt(df, id_vars='계정', var_name='기준일', value_name='값')
    df = df[~pd.isnull(df['값'])]
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기': ''}, regex=True)
    df['기준일'] = pd.to_datetime(df['기준일'],
                               format='%Y-%m') + pd.tseries.offsets.MonthEnd()
    df['종목코드'] = ticker
    df['공시구분'] = frequency

    return df


# for loop
for i in tqdm(range(0, len(ticker_list))):

    # 티커 선택
    ticker = ticker_list['종목코드'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        # url 생성
        url = f'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'

        # 데이터 받아오기
        data = pd.read_html(url, displayed_only=False)

        # 연간 데이터
        data_fs_y = pd.concat([
            data[0].iloc[:, ~data[0].columns.str.contains('전년동기')], data[2],
            data[4]
        ])
        data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: "계정"})

        # 결산년 찾기
        page_data = rq.get(url)
        page_data_html = BeautifulSoup(page_data.content, 'html.parser')

        fiscal_data = page_data_html.select('div.corp_group1 > h2')
        fiscal_data_text = fiscal_data[1].text
        fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)

        # 결산년에 해당하는 계정만 남기기
        data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') | (
            data_fs_y.columns.str[-2:].isin(fiscal_data_text))]

        # 클렌징
        data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')

        # 분기 데이터
        data_fs_q = pd.concat([
            data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3],
            data[5]
        ])
        data_fs_q = data_fs_q.rename(columns={data_fs_q.columns[0]: "계정"})

        data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')

        # 두개 합치기
        data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])

        # 재무제표 데이터를 DB에 저장
        args = data_fs_bind.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 해당 종목명을 저장하고 다음 루프로 이동
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

1. DB에 연결한다.
2. 기준일이 최대, 즉 최근일 기준 보통주에 해당하는 티커 리스트(ticker_list)만 불러온다.
3. DB에 저장할 쿼리(query)를 입력한다.
4. 오류 발생시 저장할 리스트(error_list)를 만든다.
5. for문을 통해 전종목 재무제표를 다운로드 받으며, 진행상황을 알기위해 `tqdm()` 함수를 이용한다.
6. URL 생성, 데이터 다운로드 및 데이터 클렌징 및 DB에 저장은 위와 동일하며, try except문을 통해 오류가 발생시 티커를 출력 후 error_list에 저장한다.
7. 무한 크롤링을 방지하기 위해 한 번의 루프가 끝날 때마다 타임슬립을 적용한다.
8. 모든 작업이 끝나면 DB와의 연결을 종료한다.

작업이 끝난 후 SQL의 kor_fs 테이블을 확인해보면 전 종목의 재무제표가 저장되어 있다. 시간이 지나 위 코드를 다시 실행하면 upsert 형식을 통해 수정된 재무제표는 update를, 새로 입력된 재무제표는 insert를 한다.

```{figure} image/data_korea/sql_fs.png
---
name: sql_fs
---
재무제표 테이블
```

## 가치지표 계산

위에서 구한 재무제표 데이터를 이용해 가치지표를 계산할 수 있다. 흔히 가치지표로는 'PER', 'PBR', 'PCR', 'PSR', 'DY'가 사용된다.

```{table} 가치지표의 종류
:name: value_table

| 지표 | 설명 | 필요한 재무제표 데이터 | 
| --- | --- | --- |
| PER | Price to Earnings Ratio | Earnings (순이익) |
| PBR | Price to Book Ratio | Book Value (순자산) |
| PCR | Price to Cash Flow Ratio | Cash Flow (영업활동현금흐름) |
| PSR | Price to Sales Ratio | Sales (매출액) |
| DY | Dividend Yield | Dividened (배당) |
```

가치지표의 경우 연간 재무제표 기준으로 계산할 경우 다음 재무제표가 발표될 때까지 1년이나 기다려야 한다. 반면 분기 재무제표는 3개월 마다 발표되므로 최신 정보를 훨씬 빠르게 반영할 수 있다는 장점이 있으므로 일반적으로 최근 4분기 데이터를 이용해 계산하는 TTM(Trailing Twelve Months) 방법을 많이 사용한다. 먼저 예제로 삼성전자의 가치지표를 계산해보도록 하자.

In [34]:
# 패키지 불러오기
from sqlalchemy import create_engine
import pandas as pd

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 티커 리스트
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
""", con=engine)

# 삼성전자 분기 재무제표
sample_fs = pd.read_sql("""
select * from kor_fs
where 공시구분 = 'q'
and 종목코드 = '005930'
and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
""", con=engine)

engine.dispose()

1. DB에 연결한다.
2. 티커 리스트를 불러온다.
3. 삼성전자의 분기공시 자료 중 가치지표 계산에 필요한 항목들만 불러온다.
4. DB와의 연결을 종료한다.

In [35]:
sample_fs = sample_fs.sort_values(['종목코드', '계정', '기준일'])

sample_fs.head()

      계정         기준일         값    종목코드 공시구분
0  당기순이익  2021-06-30   96345.0  005930    q
1  당기순이익  2021-09-30  122933.0  005930    q
2  당기순이익  2021-12-31  108379.0  005930    q
3  당기순이익  2022-03-31  113246.0  005930    q
4    매출액  2021-06-30  636716.0  005930    q

먼저 `sort_values()` 함수를 통해 재무제표 데이터를 종목코드, 계정, 기준일 순으로 정렬한다.

In [36]:
sample_fs['ttm'] = sample_fs.groupby(
    ['종목코드', '계정'], as_index=False)['값'].rolling(window=4,
                                                 min_periods=4).sum()['값']

sample_fs

              계정         기준일          값    종목코드 공시구분         ttm
0          당기순이익  2021-06-30    96345.0  005930    q         NaN
1          당기순이익  2021-09-30   122933.0  005930    q         NaN
2          당기순이익  2021-12-31   108379.0  005930    q         NaN
3          당기순이익  2022-03-31   113246.0  005930    q    440903.0
4            매출액  2021-06-30   636716.0  005930    q         NaN
5            매출액  2021-09-30   739792.0  005930    q         NaN
6            매출액  2021-12-31   765655.0  005930    q         NaN
7            매출액  2022-03-31   777815.0  005930    q   2919978.0
8   영업활동으로인한현금흐름  2021-06-30   120865.0  005930    q         NaN
9   영업활동으로인한현금흐름  2021-09-30   185815.0  005930    q         NaN
10  영업활동으로인한현금흐름  2021-12-31   206345.0  005930    q         NaN
11  영업활동으로인한현금흐름  2022-03-31   104531.0  005930    q    617556.0
12            자본  2021-06-30  2823240.0  005930    q         NaN
13            자본  2021-09-30  2967660.0  005930    q         NaN
14            자본  2021-12-31  3049000.0  005930    q         NaN
15            자본  2022-03-31  3152910.0  005930    q  11992810.0

1. 종목코드와 계정을 기준으로 `groupby()` 함수를 통해 그룹을 묶으며, `as_index=False`를 통해 그룹 라벨을 인덱스로 사용하지 않는다.
2. `rolling()` 메서드를 통해 4개 기간씩 합계를 구하며, `min_periods` 인자를 통해 데이터가 최소 4개는 있을 경우에만 값을 구한다. 즉 4개 분기 데이터를 통해 TTM 값을 계산하며, 12개월치 데이터가 없을 경우는 계산을 하지 않는다.

In [37]:
import numpy as np

sample_fs['ttm'] = np.where(sample_fs['계정'] == '자본',
                            sample_fs['ttm'] / 4, sample_fs['ttm'])
sample_fs = sample_fs.groupby(['계정', '종목코드']).tail(1)

sample_fs.head()

              계정         기준일          값    종목코드 공시구분        ttm
3          당기순이익  2022-03-31   113246.0  005930    q   440903.0
7            매출액  2022-03-31   777815.0  005930    q  2919978.0
11  영업활동으로인한현금흐름  2022-03-31   104531.0  005930    q   617556.0
15            자본  2022-03-31  3152910.0  005930    q  2998202.5

1. '자본' 항목은 재무상태표에 해당하는 항목이므로 합이 아닌 4로 나누어 평균을 구하며, 타 헝목은 4분기 기준 합을 그대로 사용한다.
2. 계정과 종목코드별 그룹을 나누 후 `tail(1)` 함수를 통해 가장 최근 데이터만 선택한다.

가치지표 중 분모에 해당하는 재무제표 값들을 계산을 했으며, 분자에 해당하는 시가총액은 티커 리스트에서 구할 수 있다.

In [38]:
sample_fs_merge = sample_fs[['계정', '종목코드', 'ttm']].merge(
    ticker_list[['종목코드', '시가총액', '기준일']], on='종목코드')
sample_fs_merge['시가총액'] = sample_fs_merge['시가총액']/100000000

sample_fs_merge.head()

             계정    종목코드        ttm       시가총액         기준일
0         당기순이익  005930   440903.0  3659480.0  2022-08-03
1           매출액  005930  2919978.0  3659480.0  2022-08-03
2  영업활동으로인한현금흐름  005930   617556.0  3659480.0  2022-08-03
3            자본  005930  2998202.5  3659480.0  2022-08-03

위에서 계산한 테이블과 티커 리스트 중 필요한 열만 선택해 테이블을 합친다. 재무제표 데이터의 경우 단위가 억원인 반면 시가총액은 원이므로, 시가총액을 억으로 나눠 단위를 맞춰준다.

In [48]:
sample_fs_merge['value'] = sample_fs_merge['시가총액'] / sample_fs_merge['ttm']
sample_fs_merge['지표'] = np.where(
    sample_fs_merge['계정'] == '매출액', 'PSR',
    np.where(
        sample_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(sample_fs_merge['계정'] == '자본', 'PBR',
                 np.where(sample_fs_merge['계정'] == '당기순이익', 'PER', None))))

sample_fs_merge

             계정    종목코드        ttm       시가총액         기준일     value   지표
0         당기순이익  005930   440903.0  3659480.0  2022-08-03  8.299966  PER
1           매출액  005930  2919978.0  3659480.0  2022-08-03  1.253256  PSR
2  영업활동으로인한현금흐름  005930   617556.0  3659480.0  2022-08-03  5.925746  PCR
3            자본  005930  2998202.5  3659480.0  2022-08-03  1.220558  PBR

분자(시가총액)를 분모(TTM 기준 재무제표 데이터)로 나누어 가치지표를 계산한 후, 각 지표명을 입력한다.

마지막으로 배당수익률의 경우 티커리스트의 데이터를 통해 계산할 수 있다.

In [40]:
ticker_list_sample = ticker_list[ticker_list['종목코드'] == '005930'].copy()
ticker_list_sample['DY'] = ticker_list_sample['주당배당금'] / ticker_list_sample['종가']

ticker_list_sample.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분,DY
260,005930,삼성전자,KOSPI,61300.0,3.659480e+14,2022-08-03,5777.0,5900.0,43611.0,1444.0,보통주,0.023556

티커 리스트의 각종 데이터 중 주당배당금을 종가로 나누면 현재시점 기준 배당수익률을 쉽게 계산할 수 있다.

### 전 종목 가치지표 계산

위 코드를 응용해 전 종목 가치지표를 계산해보도록 하자. 먼저 SQL에서 가치지표가 저장될 테이블(kor_value)을 만들어준다.

In [ ]:
use stock_db;

create table kor_value
(
종목코드 varchar(6),
기준일 date,
지표 varchar(3),
값 double,
primary key (종목코드, 기준일, 지표)
);

이제 파이썬에서 재무 데이터를 이용해 가치지표를 계산한다.

In [41]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 분기 재무제표 불러오기
kor_fs = pd.read_sql("""
select * from kor_fs
where 공시구분 = 'q'
and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
""", con=engine)

# 티커 리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주';
""", con=engine)

engine.dispose()

1. DB에 연결한다.
2. 분기 재무제표와 티커 리스트를 불러온다.

In [49]:
# TTM 구하기
kor_fs = kor_fs.sort_values(['종목코드', '계정', '기준일'])
kor_fs['ttm'] = kor_fs.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(
    window=4, min_periods=4).sum()['값']

# 자본은 평균 구하기
kor_fs['ttm'] = np.where(kor_fs['계정'] == '자본', kor_fs['ttm'] / 4,
                         kor_fs['ttm'])
kor_fs = kor_fs.groupby(['계정', '종목코드']).tail(1)

1. `sort_values()` 함수를 통해 종목코드, 계정, 기준일 순으로 정렬을 한다.
2. 종목코드와 계정 별 그룹을 묶은 후, 롤링 합을 통해 TTM 값을 구한다.
3. '자본' 항목은 재무상태표에 해당하는 항목이므로 합이 아닌 평균을 구하며, 타 항목은 4분기 기준 합을 그대로 사용한다.
4. `tail(1)`을 통해 최근 데이터를 선택한다.

이제 티커리스트의 시가총액 데이터를 이용해 가치지표를 계산해주도록 한다.

In [47]:
kor_fs_merge = kor_fs[['계정', '종목코드',
                       'ttm']].merge(ticker_list[['종목코드', '시가총액', '기준일']],
                                     on='종목코드')
kor_fs_merge['시가총액'] = kor_fs_merge['시가총액'] / 100000000

kor_fs_merge['value'] = kor_fs_merge['시가총액'] / kor_fs_merge['ttm']
kor_fs_merge['value'] = kor_fs_merge['value'].round(4)
kor_fs_merge['지표'] = np.where(
    kor_fs_merge['계정'] == '매출액', 'PSR',
    np.where(
        kor_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(kor_fs_merge['계정'] == '자본', 'PBR',
                 np.where(kor_fs_merge['계정'] == '당기순이익', 'PER', None))))

kor_fs_merge.rename(columns={'value': '값'}, inplace=True)
kor_fs_merge = kor_fs_merge[['종목코드', '기준일', '지표', '값']]
kor_fs_merge = kor_fs_merge.replace([np.inf, -np.inf, np.nan], None)

kor_fs_merge.head(4)

     종목코드         기준일   지표        값
0  000020  2022-08-03  PER  14.9532
1  000020  2022-08-03  PSR   0.9660
2  000020  2022-08-03  PCR   6.7597
3  000020  2022-08-03  PBR   0.8314

1. TTM 기준으로 계산된 재무제표 테이블과 티커리스트 테이블을 합친다.
2. 시가총액을 억원으로 나눈다.
3. 시가총액을 재무데이터 값으로 나누어 가치지표를 계산한 후, 반올림을 한다.
4. 각 계정에 맞게 계정명(PSR, PCR, PER, PBR)을 적는다.
5. `rename()` 메서드를 통해 'value'라는 열 이름을 '값'으로 변경한다.
6. 필요한 열만 선택한 후, `replace()` 메서드를 통해 inf와 nan를 None으로 변경한다.

계산된 가치지표를 데이터베이스에 저장하자.

In [44]:
query = """
    insert into kor_value (종목코드, 기준일, 지표, 값)
    values (%s,%s,%s,%s) as new
    on duplicate key update
    값=new.값
"""

args_fs = kor_fs_merge.values.tolist()
mycursor.executemany(query, args_fs)
con.commit()

가치지표를 kor_value 테이블에 upsert 방식으로 저장한다. 마지막으로 배당수익률의 경우 티커리스트를 통해 한번에 계산할 수 있다.

In [45]:
ticker_list['값'] = ticker_list['주당배당금'] / ticker_list['종가']
ticker_list['값'] = ticker_list['값'].round(4)
ticker_list['지표'] = 'DY'
dy_list = ticker_list[['종목코드', '기준일', '지표', '값']]
dy_list = dy_list.replace([np.inf, -np.inf, np.nan], None)
dy_list = dy_list[dy_list['값'] != 0]

dy_list.head()

     종목코드         기준일  지표       값
0  000020  2022-08-03  DY  0.0170
2  000050  2022-08-03  DY  0.0097
3  000060  2022-08-03  DY  0.0172
4  000070  2022-08-03  DY  0.0414
5  000080  2022-08-03  DY  0.0256

1. 주당배당금을 종가로 나누어 배당수익률을 계산한 후, 반올림을 한다.
2. '지표'열에 'DY'라는 글자를 입력한다.
3. 원하는 열만 선택한다.
4. inf와 nan은 None으로 변경한다.
5. 주당배당금이 0원인 종목은 값이 0으로 계산되므로, 이를 제외한 종목만 선택한다.

In [46]:
args_dy = dy_list.values.tolist()
mycursor.executemany(query, args_dy)
con.commit()

engine.dispose()
con.close()

배당수익률 역시 kor_value 테이블에 upsert 방식으로 저장한 후, DB와의 연결을 종료한다.

```{figure} image/data_korea/sql_value.png
---
name: sql_value
---
가치지표 테이블
```